# Frontend -> backend API
VITE_API_BASE_URL=http://localhost:3001/api
VITE_SOCKET_URL=http://localhost:3001
VITE_APP_HOST=http://localhost:3001

# App metadata
VITE_APP_VERSION_NAME=1.0.0
VITE_APP_VERSION_CODE=1

# Force https rewrite in production build (0/1)
VITE_FORCE_HTTPS=0
