APP_ENV=production
APP_DEBUG=false
APP_URL=http://155.212.221.92

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=q99916rz_alga
DB_USER=your_mysql_user
DB_PASS=your_mysql_password

JWT_SECRET=change_this_super_secret
JWT_EXPIRES=2592000
CORS_ORIGIN=*
